ssh_cmd.sh
backend/local_debug_functions.py
meeting_notes.html
__pycache__/
venv/
instance/
.webassets-cache
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
asl_alphabet*

# Files related to the presentation.
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc
*.png

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

latex
docker
*.zip
frontend/dist
miscellaneous
backend/library_images/*/*
